body {
    font-family: "Open Sans", sans-serif;
    color: $secondary;
}

a {
    color: $info;
    text-decoration: none;

    &:hover {
        color: darken($info, 10%);
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

main {
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        min-height: calc(100vh - #{$height-footer-desktop});
    }
}
